In [1]:
import pandas as pd

In [2]:
import mysql.connector as conn

In [3]:
drs=pd.read_excel(r'C:\Users\Himanshu Verma\Desktop\fsds_pandas\Dress Sales.xlsx')

In [4]:
drs

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [5]:
att=pd.read_excel(r'C:\Users\Himanshu Verma\Desktop\fsds_pandas\Attribute DataSet.xlsx')

In [6]:
att

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [7]:
mydb = conn.connect(host='localhost', user='root', passwd='query', database='sql_task', use_pure=True)

In [8]:
# question 6
pd.read_sql('select * from attribute as a left join dress_sale as d on(a.Dress_ID=d.Dress_ID);',mydb)

C:\Users\Himanshu Verma\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,...,09-24-2013,09-26-2013,09-28-2013,09-30-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,444282011,party,very-high,4.9,M,Spring,v-neck,sleevless,empire,,...,82,86,88,90,91,96,96,98,101,102
1,510519284,Casual,Low,4.3,free,Summer,backless,sleevless,empire,chiffonfabric,...,216,0,218,0,0,0,213,0,0,204
2,511503677,Casual,Low,4.4,M,Summer,o-neck,halfsleeve,empire,chiffonfabric,...,602,602,602,592,585,582,570,564,555,547
3,520233308,Casual,Low,4.7,M,Automn,o-neck,full,,cotton,...,681,0,736,0,0,0,785,0,0,818
4,522776523,Casual,low,4.7,free,Spring,o-neck,sleevless,empire,cotton,...,593,0,608,0,0,0,619,0,0,616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1246749980,vintage,Average,0.0,S,Spring,o-neck,full,natural,mix,...,736,0,922,0,0,0,1143,0,0,1288
471,1246945687,Novelty,Average,0.0,free,Summer,o-neck,full,natural,cotton,...,54,55,57,58,59,61,62,63,65,67
472,1249825438,Sexy,Average,0.0,free,Autumn,o-neck,full,natural,polyster,...,101,103,105,107,109,111,113,115,116,117
473,1250787559,cute,Low,0.0,free,Spring,v-neck,sleevless,empire,chiffonfabric,...,2,2,2,2,2,2,2,2,2,2
474,1253973206,cute,Low,0.0,M,Summer,boat-neck,short,,,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# question 7
pd.read_sql('select count(distinct(Dress_ID)) from attribute;',mydb)

C:\Users\Himanshu Verma\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   count(distinct(Dress_ID))
0                        475

In [10]:
# question 8
pd.read_sql('select count(Dress_ID) from attribute where Recommendation=0;',mydb)

C:\Users\Himanshu Verma\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   count(Dress_ID)
0              275

In [13]:
df2=pd.read_sql('select * from dress_sale',mydb)

C:\Users\Himanshu Verma\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [14]:
# question 9
df2['total_sale']=df2[df2.columns[-23:-1]].sum(axis=1)
df2[['Dress_ID','total_sale']]

       Dress_ID  total_sale
0     444282011        1630
1     510519284        2684
2     511503677       11602
3     520233308       10223
4     522776523        8798
..          ...         ...
470  1246749980        5627
471  1246945687         967
472  1249825438        1697
473  1250787559          38
474  1253973206        2231

[475 rows x 2 columns]

In [15]:
# question 10
df2[['Dress_ID','total_sale']].sort_values('total_sale').iloc[-3]

Dress_ID      1006032852
total_sale         71931
Name: 327, dtype: int64